<div class="footer">
    
<div class="row">
  <div class="col-sm-8 col-md-8"> 
  </div>
  <div class="col-sm-4 col-md-4"> 
      <div class="sign">
          <form action="/action_page.php">
           <div class="form-group">
            <label for="phone" id="DescDetail">Register with your phone</label>
            <input type="number" class="form-control" id="phone" placeholder="+91 --- --- ----">
           </div>
           <center><button type="submit" class="btn btn-light" id="signUpBtn">Sign Up</button></center>
          </form>
      </div>   
  </div>    
</div>  
</div>    