<div class="header d-none d-lg-block d-xl-block">
<div class="row">
  <div class="col-3 col-sm-3 col-md-3"><button type="button" id="StreeLogo" class="btn btn-primary btn-lg pl-0"><a href="/" style="text-decoration: none;color: inherit;">FoodServer</a></button></div>

  <div class="col-5 col-sm-5 col-md-5" style="padding-top: 8px">
      <form id="seachForm" method="POST" action="/search">
       <div class="form-group">
           <div class="row p-0" style="width: 100%"><input type="text" class="form-control" id="email" name="searchQuery" placeholder="Search" style="width: 90%">
               <input name="welcmmsg" style="display:none;" type="text" value="<%=welcomeMsg%>">
               <button form="seachForm" type="submit" class="btn btn-primary" style="width:10%;background-color: palevioletred;color: white;"><i class="fa fa-search" style="font-size:20px"></i></button></div>
       </div>
      </form> 
  </div>

  <div class="col-4 col-sm-4 col-md-4" style="padding-top: 8px; font-family: 'Quicksand', sans-serif">
    <div class="row">
     <div class="col-sm-6 col-md-6" style="padding-left: 100px"> <font face="arial black"><h6><%= welcomeMsg %></h6></font> </div>
        <div class="col-sm-3 col-md-3"> <font face="arial black"><a href="../login" style="text-decoration: none;color: inherit;">Login </a></font></div>
     <div class="col-sm-3 col-md-3"> <i class='fas fa-dolly' style='font-size:30px'></i> </div>
    </div>
  </div>
</div>
</div>

<!------------------------------mobile device ------------------------------------------>

<div class="pos-f-t d-md-none d-lg-none d-xl-none d-sm-block d-xs-block">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4"><font face="arial black"><%=welcomeMsg%></font></h5>
        <h5 class="text-white h4" id="loginTextInHeader"> <font face="arial black"><a href="../login" style="text-decoration: none;color: inherit;">Login </a></font></h5>
      <h5 class="text-white h4"><i class='fas fa-dolly' style='font-size:30px'></i></h5>            
    </div>
  </div>
  <nav class="navbar navbar-light bg-light">
    <div class="row" style="width:100%">
      <div class="col-6 col-sm-6 col-xs-6 ml-0 p-0 ">  
          <button type="button" id="StreeLogo" class="btn btn-primary btn-lg"><a href="/" style="text-decoration: none;color: inherit;width: 100%;">FoodServer</a></button>
       </div>
       <div class="col-4 col-sm-4 col-xs-4">

       </div>    
       <div class="col-2 col-sm-2 col-xs-2">    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
       </div>
    </div>

      <div class="row" style="width:100%">
          <!---------------serch functionality------------------------------->
          <div class="col-12 col-sm-12 col-md-12" style="padding-top: 8px; text-align: center;">
              <form id="seachForm" method="POST" action="/search">
                  <div class="form-group">
                      <div class="row p-0" style="width: 100%"><input type="text" class="form-control" id="email" name="searchQuery" placeholder="Search" style="width: 90%">
                          <input name="welcmmsg" style="display:none;" type="text" value="<%=welcomeMsg%>">
                          <button form="seachForm" type="submit" class="btn btn-primary" style="width:25%;background-color: palevioletred;color: white;"><i class="fa fa-search" style="font-size:20px"></i></button></div>
                  </div>
              </form>
          </div>
          <!---------------serch functionality ends here------------------------------->
      </div>

  </nav>
</div>